<section id="about-us" class="about">
  <div class="container">
    <div class="about__title">
      <h2 class="about__titleFirst header-550">Tradition and love</h2>
      <h1 class="about__titleSecond header-800">How it's made?</h1>
    </div>
    <div class="about__cow-container">
      <article class="about__cow">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about/webp/about-cow-desktop.webp    1x,
              ./images/about/webp/about-cow-desktop@2x.webp 2x,
              ./images/about/webp/about-cow-desktop@3x.webp 3x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/about/webp/about-cow-tablet.webp    1x,
              ./images/about/webp/about-cow-tablet@2x.webp 2x,
              ./images/about/webp/about-cow-tablet@3x.webp 3x
            "
          />
          <img
            srcset="
              ./images/about/webp/about-cow-mobile.webp    1x,
              ./images/about/webp/about-cow-mobile@2x.webp 2x,
              ./images/about/webp/about-cow-mobile@3x.webp 3x
            "
            alt="milk_cow"
          />
        </picture>
      </article>
      <article class="about__description">
        <p class="text-325">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="text-300">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="text-300">Aliquam erat volutpat. Aenean accumsan.</p>
        <button type="button" class="about__button button-primary text-400 button-primary--about">
          Read more
          <svg class="button-primary__icon-greater-than">
            <use href="./images/icons.svg#icon-greater-than"></use>
          </svg>
        </button>
      </article>
    </div>
  </div>
</section>
