<section class="advantages">
  <h2 hidden>Advantages</h2>
  <div class="advantages__wrapper">
    <picture class="advantages__picture">
      <img
        class="advantages__image advantages__image--milk transition"
        srcset="
          ./images/advantages/webp/advantage-milk.webp    1x,
          ./images/advantages/webp/advantage-milk@2x.webp 2x,
          ./images/advantages/webp/advantage-milk@3x.webp 3x
        "
        alt="milk"
        height="50"
        width="33"
      />
    </picture>
    <span class="advantages__number header-850">721</span>
    <p class="text-325 text-325--advantages">
      Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
    </p>
  </div>
  <div class="advantages__wrapper">
    <picture class="advantages__picture">
      <img
        class="advantages__image transition"
        srcset="
          ./images/advantages/webp/advantage-fruits.webp    1x,
          ./images/advantages/webp/advantage-fruits@2x.webp 2x,
          ./images/advantages/webp/advantage-fruits@3x.webp 3x
        "
        alt="fruits"
        height="50"
        width="50"
      />
    </picture>
    <span class="advantages__number header-850">16kg</span>
    <p class="text-325 text-325--advantages">
      Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
    </p>
  </div>
  <div class="advantages__wrapper">
    <picture class="advantages__picture">
      <img
        class="advantages__image transition"
        srcset="
          ./images/advantages/webp/advantage-heart.webp    1x,
          ./images/advantages/webp/advantage-heart@2x.webp 2x,
          ./images/advantages/webp/advantage-heart@3x.webp 3x
        "
        alt="fruits"
        height="50"
        width="44"
      />
    </picture>
    <span class="advantages__number header-850">84</span>
    <p class="text-325 text-325--advantages">
      Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
    </p>
  </div>
</section>
