<section id="contact" class="contacts">
  <div class="container contacts__flex">
    <h2 hidden>Contacts</h2>
    <div class="contacts__container">
      <p class="contacts__category contacts__category--first text-350">CAFE</p>
      <h3 class="contacts__city-name text-325 text-325--city">Chicago</h3>
      <p class="text-325 text-325--address">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <div class="contacts__opening-time">
        <p class="text-325">Monday - Friday</p>
        <p class="text-325 text-325--hours"><time>06:00</time> - <time>22:00</time></p>
        <p class="contacts__weekend text-325">Saturday - Sunday</p>
        <p class="text-325 text-325--hours"><time>08:00</time> - <time>16:00</time></p>
      </div>
      <address>
        <a href="tel:++610383766284"
          ><span class="text-325 text-325--address">+61(0) 383 766 284</span></a
        >
        <a href="mailto:noreply@envato.com"
          ><span class="text-325 text-325--address">noreply@envato.com</span></a
        >
      </address>
    </div>
    <div class="contacts__container">
      <p class="contacts__category contacts__category--second text-350">FOODTRUCK</p>
      <h3 class="contacts__city-name text-325 text-325--city">Los Angeles</h3>
      <p class="text-325 text-325--address">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <div class="contacts__opening-time">
        <p class="text-325">Monday - Friday</p>
        <p class="text-325 text-325--hours"><time>06:00</time> - <time>22:00</time></p>
        <p class="contacts__weekend text-325">Saturday - Sunday</p>
        <p class="text-325 text-325--hours"><time>08:00</time> - <time>16:00</time></p>
      </div>
      <address>
        <a href="tel:++610383766284"
          ><span class="text-325 text-325--address">+61(0) 383 766 284</span></a
        >
        <a href="mailto:noreply@envato.com"
          ><span class="text-325 text-325--address">noreply@envato.com</span></a
        >
      </address>
    </div>
    <div class="contacts__container">
      <p class="contacts__category contacts__category--first text-350">CAFE</p>
      <h3 class="contacts__city-name text-325 text-325--city">New York</h3>
      <p class="text-325 text-325--address">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
      <div class="contacts__opening-time">
        <p class="text-325">Monday - Friday</p>
        <p class="text-325 text-325--hours"><time>06:00</time> - <time>22:00</time></p>
        <p class="contacts__weekend text-325">Saturday - Sunday</p>
        <p class="text-325 text-325--hours"><time>08:00</time> - <time>16:00</time></p>
      </div>
      <address>
        <a href="tel:++610383766284"
          ><span class="text-325 text-325--address">+61(0) 383 766 284</span></a
        >
        <a href="mailto:noreply@envato.com"
          ><span class="text-325 text-325--address">noreply@envato.com</span></a
        >
      </address>
    </div>
  </div>
  <div class="contacts__button">
    <button type="button" class="button-secondary button-500 button-secondary--contacts">
      Our Locations
      <svg class="button-secondary__icon-greater-than">
        <use href="./images/icons.svg#icon-greater-than"></use>
      </svg>
    </button>

    <button type="button" class="button-primary button-500 button-primary--contacts">
      Franchise
      <svg class="button-primary__icon-greater-than">
        <use href="./images/icons.svg#icon-greater-than"></use>
      </svg>
    </button>
  </div>
</section>
