<section class="gallery">
  <div class="gallery-container">
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/gallery/webp/gallery-desktop.webp    1x,
          ./images/gallery/webp/gallery-desktop@2x.webp 2x,
          ./images/gallery/webp/gallery-desktop@3x.webp 3x
        "
      />

      <source
        media="(min-width: 768px)"
        srcset="
          ./images/gallery/webp/gallery-tablet.webp    1x,
          ./images/gallery/webp/gallery-tablet@2x.webp 2x,
          ./images/gallery/webp/gallery-tablet@3x.webp 3x
        "
      />

      <img
        class="gallery__picture"
        srcset="
          ./images/gallery/webp/gallery-mobile.webp    1x,
          ./images/gallery/webp/gallery-mobile@2x.webp 2x,
          ./images/gallery/webp/gallery-mobile@3x.webp 3x
        "
        alt="A lot of ice cream"
      />
    </picture>

    <div class="gallery__grid">
      <img src="./images/gallery/grid/1.webp" alt="" class="gallery__grid__item" />
      <img src="./images/gallery/grid/2.webp" alt="" class="gallery__grid__item" />
      <img src="./images/gallery/grid/3.webp" alt="" class="gallery__grid__item" />
      <img src="./images/gallery/grid/4.webp" alt="" class="gallery__grid__item" />
      <img src="./images/gallery/grid/5.webp" alt="" class="gallery__grid__item" />
      <img src="./images/gallery/grid/6.webp" alt="" class="gallery__grid__item" />
      <img src="./images/gallery/grid/7.webp" alt="" class="gallery__grid__item" />
      <img src="./images/gallery/grid/8.webp" alt="" class="gallery__grid__item" />
      <img src="./images/gallery/grid/9.webp" alt="" class="gallery__grid__item" />
      <img src="./images/gallery/grid/10.webp" alt="" class="gallery__grid__item" />
    </div>
  </div>
</section>
