<section id="products">
  <div class="container products-wrapper">
    <div class="title-container">
      <span class="header-550 title-container__label">100% natural</span>
      <h2 class="header-800">products</h2>
    </div>
    <div class="products-wrapper__items">
      <ul class="products-list">
        <li class="products-list__item products-list__item--bg1">
          <h3 class="header-600 products-list__header">ice cream</h3>
          <p class="text-400 text-400--products">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et<span class="products-list__span"
              >. dolore magna aliqua facilisis.</span
            >
          </p>
          <button type="button" class="button-arrow button-arrow--products">
            <svg>
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
          <div class="products-list__item-overlay products-list__item-overlay--1">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, odio? Lorem ipsum
              dolor sit amet, consectetur adipisicing elit. Asperiores temporibus fuga eum odio
              explicabo! Commodi, magni. Quae, iusto aliquam! Nostrum. Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Minus, illo?
            </p>
          </div>
        </li>
        <li class="products-list__item products-list__item--bg2">
          <h3 class="header-600 products-list__header">ice coffee</h3>
          <p class="text-400 text-400--products">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et<span class="products-list__span"
              >. dolore magna aliqua facilisis.</span
            >
          </p>

          <button type="button" class="button-arrow button-arrow--products">
            <svg>
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
          <div class="products-list__item-overlay products-list__item-overlay--2">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, odio? Lorem ipsum
              dolor sit amet, consectetur adipisicing elit. Asperiores temporibus fuga eum odio
              explicabo! Commodi, magni. Quae, iusto aliquam! Nostrum. Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Minus, illo?
            </p>
          </div>
        </li>
        <li class="products-list__item products-list__item--bg3">
          <h3 class="header-600 products-list__header">milkshakes</h3>
          <p class="text-400 text-400--products">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et<span class="products-list__span"
              >. dolore magna aliqua facilisis.</span
            >
          </p>
          <button type="button" class="button-arrow button-arrow--products">
            <svg>
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
          <div class="products-list__item-overlay products-list__item-overlay--3">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, odio? Lorem ipsum
              dolor sit amet, consectetur adipisicing elit. Asperiores temporibus fuga eum odio
              explicabo! Commodi, magni. Quae, iusto aliquam! Nostrum. Lorem ipsum dolor sit amet,
              consectetur adipisicing elit. Minus, illo?
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
